In [46]:
import xml.etree.ElementTree as ET
import pandas as pd

In [3]:
tree = ET.parse('data.xml')

In [5]:
print(type(tree))

<class 'xml.etree.ElementTree.ElementTree'>

In [6]:
root = tree.getroot()

In [8]:
print(root.tag)
print(root.attrib)
print(len(root))

data
{}
3

In [15]:
country1 = root[0]
rank = country1[0]
print(rank.tag)
print(rank.text)

rank
1

In [47]:
print(country1[4].attrib['name'])

Switzerland

In [18]:
country3 = root[2]

In [19]:
rank = country3[0]
print(rank.tag)
print(rank.text)
print(country3[4].attrib)

rank
68
{'name': 'Colombia', 'direction': 'E'}

In [20]:
for country in root.findall('country'):
    rank = country.find('rank').text
    name = country.get('name')
    print(name,rank)

Liechtenstein 1
Singapore 4
Panama 68

In [21]:
for neighbor in root.iter('neighbor'):
    print(neighbor.attrib)

{'name': 'Austria', 'direction': 'E'}
{'name': 'Switzerland', 'direction': 'W'}
{'name': 'Malaysia', 'direction': 'N'}
{'name': 'Costa Rica', 'direction': 'W'}
{'name': 'Colombia', 'direction': 'E'}

In [22]:
root.findall(".")

In [34]:
for i in root.findall("./country/neighbor"):
    print(i.attrib['name'])

Austria
Switzerland
Malaysia
Costa Rica
Colombia

In [39]:
root.findall(".//year/..[@name='Singapore']")

In [40]:
root.findall(".//neighbor[2]")

[<Element 'neighbor' at 0x000001AED348C6D0>,
 <Element 'neighbor' at 0x000001AED348CA40>]

In [45]:
tree = ET.parse('data.xml')  # Load from file
root = tree.getroot()

my_dict = {'name': [],
           'rank': [],
           'year': [],
           'gdppc': []}


for country in root:
    name_value = country.attrib['name']
    my_dict['name'].append(name_value)

    rank_value = country[0].text
    my_dict['rank'].append(rank_value)

    year_value = country[1].text
    my_dict['year'].append(year_value)

    gdppc_value = country[2].text
    my_dict['gdppc'].append(gdppc_value)

df = pd.DataFrame(my_dict) 
df

            name rank  year   gdppc
0  Liechtenstein    1  2008  141100
1      Singapore    4  2011   59900
2         Panama   68  2011   13600