# JSON exercise

Download the data from [**here**](https://drive.google.com/file/d/1DGaX5AVfYhmWeb15lI-MzUbSKTYSz9fQ/view?usp=sharing) and answer following questions:
1. Find the 10 countries with most projects
2. What are top 10 sectors with projects?
3. Find the top 10 major project themes (using column 'mjtheme_namecode')
4. In 3. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

In [2]:
import pandas as pd
import json
from pandas import json_normalize

<h3>Question 1</h3>

In [18]:
json_data  = pd.read_json("world_bank_projects.json")
json_data.value_counts('countryname').head(10)

countryname
People's Republic of China         19
Republic of Indonesia              19
Socialist Republic of Vietnam      17
Republic of India                  16
Republic of Yemen                  13
Nepal                              12
People's Republic of Bangladesh    12
Kingdom of Morocco                 12
Africa                             11
Republic of Mozambique             11
dtype: int64

In [69]:
json_data.head(2)

                                              sector  ...                                   _id
0  [{'Name': 'Primary education'}, {'Name': 'Seco...  ...  {'$oid': '52b213b38594d8a2be17c780'}
1  [{'Name': 'Public administration- Other social...  ...  {'$oid': '52b213b38594d8a2be17c781'}

[2 rows x 50 columns]

<h3>Question 2</h3>

In [21]:
with open("world_bank_projects.json") as f:
    opened_data = json.load(f)

In [30]:
opened_normalized = json_normalize(data = opened_data, record_path='sector', meta = ['project_name'])

In [33]:
opened_normalized.value_counts('Name').head(10)

Name
Other social services                                       106
Central government administration                            82
Sub-national government administration                       75
General agriculture, fishing and forestry sector             65
Health                                                       63
General public administration sector                         51
Rural and Inter-Urban Roads and Highways                     44
General water, sanitation and flood protection sector        39
Agricultural extension and research                          38
Public administration- Agriculture, fishing and forestry     36
dtype: int64

<h3>Question3</h3>

In [40]:
opened_normalized_third_question = json_normalize(data = opened_data, record_path='mjtheme_namecode')

In [80]:
opened_normalized_third_question.value_counts().head(40)

code  name
11    Environment and natural resources management    223
10    Rural development                               202
8     Human development                               197
2     Public sector governance                        184
6     Social protection and risk management           158
4     Financial and private sector development        130
7     Social dev/gender/inclusion                     119
5     Trade and integration                            72
9     Urban development                                47
1     Economic management                              33
11                                                     27
4                                                      16
2                                                      15
10                                                     14
8                                                      13
3     Rule of law                                      12
7                                                      11
6                                                      10
5                                                       5
1                                                       5
3                                                       3
9                                                       3
dtype: int64

<h3>Question4</h3>

In [49]:
opened_normalized_third_question = json_normalize(data = opened_data, record_path='mjtheme_namecode')

     code                                      name
0       8                         Human development
1      11
2       1                       Economic management
3       6     Social protection and risk management
4       5                     Trade and integration
...   ...                                       ...
1494   10                         Rural development
1495    9                         Urban development
1496    8                         Human development
1497    5                     Trade and integration
1498    4  Financial and private sector development

[1499 rows x 2 columns]