# XML exercise

Using data from [**mondial database**](https://drive.google.com/file/d/14lFT4nWHgwN36ij4XZh6OUuup-K9qLgR/view?usp=sharing) find the answers to following questions:

1. 10 countries with the lowest infant mortality rates
2. 10 cities with the largest population
3. name and country of a) longest river, b) largest lake and c) airport at highest elevation

In [31]:
import pandas as pd
import xml.etree.ElementTree as ET
from collections import defaultdict

In [2]:
my_xml = ET.parse('mondial.xml')

In [10]:
root = my_xml.getroot()

In [13]:
root[0].attrib

{'car_code': 'AL',
 'area': '28750',
 'capital': 'cty-Albania-Tirane',
 'memberships': 'org-BSEC org-CEI org-CD org-SELEC org-CE org-EAPC org-EBRD org-EITI org-FAO org-IPU org-IAEA org-IBRD org-ICC org-ICAO org-ICCt org-Interpol org-IDA org-IFRCS org-IFC org-IFAD org-ILO org-IMO org-IMF org-IOC org-IOM org-ISO org-OIF org-ITU org-ITUC org-IDB org-MIGA org-NATO org-OSCE org-OPCW org-OAS org-OIC org-PCA org-UN org-UNCTAD org-UNESCO org-UNIDO org-UPU org-WCO org-WFTU org-WHO org-WIPO org-WMO org-UNWTO org-WTO'}

In [26]:
mortality_dict = defaultdict() 
for i in range(len(root)):
    for j in range(len(root[i])):
        if root[i][j].tag == 'infant_mortality':
            mortality_dict[root[i][0].text] = float(root[i][j].text)

In [33]:
sort_orders = sorted(mortality_dict.items(), key=lambda x: x[1])

In [88]:
for i in range(0,10):
    print(sort_orders[i])

('Monaco', 1.81)
('Japan', 2.13)
('Norway', 2.48)
('Bermuda', 2.48)
('Singapore', 2.53)
('Sweden', 2.6)
('Czech Republic', 2.63)
('Spain', 2.7)
('Hong Kong', 2.73)
('Macao', 3.13)

<h3>Question 2</h3>

In [79]:
mydict = defaultdict()
for country in root.iter('country'):
    for city in country.iter('city'):
        for population in city.iter('population'):
            mydict[city[0].text] = population.text

In [84]:
my_dict_sorted = sorted(mydict.items(), key = lambda x:x[1],reverse= True )

In [89]:
for i in range(0,5):
    print(my_dict_sorted[i])

('Cottbus', '99984')
('Dnipropetrovsk', '999577')
('Noumea', '99926')
('Goyang', '999098')
('São Gonçalo', '998999')

In [138]:
my_third = defaultdict()
for river in root.iter('river'):
    for area in river.iter('area'):
        my_string = river[0].text +','+ river.attrib['country']
        my_third[my_string] = float(area.text)

In [139]:
sorted(my_third.items(), key = lambda x:x[1], reverse = 1)[0]

('Amazonas,CO BR PE', 7050000.0)

In [144]:
my_fourth = defaultdict()
for lake in root.iter('lake'):
    for area in lake.iter('area'):
        my_string = lake[0].text +', '+ lake.attrib['country']
        my_fourth[my_string] = float(area.text)

In [145]:
sorted(my_fourth.items(), key = lambda x:x[1], reverse = 1)[0]

('Caspian Sea, R AZ KAZ IR TM', 386400.0)

In [147]:
my_fifth = defaultdict()
for airport in root.iter('airport'):
    for elevation in airport.iter('elevation'):
        my_fift_string = airport[0].text + ', ' + airport.attrib['country']
        my_fifth[my_fift_string] = float(elevation.text)

In [150]:
sorted(my_fifth.items(), key=lambda x:x[1], reverse = 1)[0]

('El Alto Intl, BOL', 4063.0)